/* .app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-panel {
  width: 300px;
} */
.app {
  display: flex;
  height: 100vh;
}

.sidebar {
  flex-shrink: 0;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.navbar {
  flex-shrink: 0;
}

.content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-panel {
  flex-shrink: 0;
  width: 300px;
}

