.chat-container {
  display: flex;
  height: 100vh;
}

.chatbox {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #fff;
  border-left: 1px solid #ccc;
  /* background-color: purple; */
}

.messages {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
}

.user-message,
.ai-message {
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  width: fit-content;
  max-width: 100%;
}

.user-message {
  background-color: #dcf8c6;
  align-self: flex-end;
}

.ai-message {
  background-color: #f1f1f1;
  align-self: flex-start;
}


.input-container {
  display: flex;
  border-top: 1px solid #ccc;
  padding: 1rem;
  background-color: #f9f9f9;
}

.chat-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-right: 10px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s ease;
}

.chat-input:focus {
  border-color: #007bff;
}

.send-button,
.delete-button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #007bff;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button{
  background-color: red;
}

.send-button:hover {
  background-color: #0056b3;
}
.delete-button:hover {
  background-color: red;
}

.send-button:active {
  background-color: #004494;
}

.delete-button:active{
  background-color: red;
}
